// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#define ZMK_POINTING_DEFAULT_MOVE_VAL 2500  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MAC 0
#define WIN 1
#define RIG 2
#define LEF 3
#define TRI 4
#define MOUSE 5

// https://zmk.dev/docs/development/hardware-integration/soft-off-setup?advanced-methods=wakeup&kscan-type=dkscan

/ {
    keys {
        compatible = "gpio-keys";

        soft_off_gpio_key: soft_off_gpio_key { gpios = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; };
    };

    wakeup_scan: wakeup_scan {
        compatible = "zmk,kscan-gpio-direct";
        input-keys = <&soft_off_gpio_key>;
        wakeup-source;
    };

    side_band_behavior_triggers: side_band_behavior_triggers {
        compatible = "zmk,kscan-sideband-behaviors";
        kscan = <&wakeup_scan>;
        auto-enable;
        wakeup-source;
    };

    soft_off_wakers {
        compatible = "zmk,soft-off-wakeup-sources";
        wakeup-sources = <&wakeup_scan>;
    };
};

/ {
    // chosen { zmk,charmap = &charmap_us; };

    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <300>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <0>;      // 0
            time-to-max-speed-ms = <40>;      // 500
            delay-ms = <0>;                   // 10
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    macros {
        lang_ru: lang_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LA(NUMBER_1))>;
            label = "LANG_RU";
        };

        lang_en: lang_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LA(NUMBER_2))>;
            label = "LANG_EN";
        };

        right_arrow: right_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GREATER_THAN>;
            label = "RIGHT_ARROW";
        };

        array_arrow: array_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GREATER_THAN>;
            label = "ARRAY_ARROW";
        };
    };

    combos {
        compatible = "zmk,combos";

        letterH {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <7 8>;
            layers = <4>;
        };

        letterZhe {
            bindings = <&kp SEMI>;
            key-positions = <17 18>;
            layers = <4>;
        };

        arrow {
            bindings = <&right_arrow>;
            key-positions = <10 11>;
            layers = <6>;
        };

        semi {
            bindings = <&kp LS(SEMICOLON)>;
            key-positions = <27 28>;
            layers = <4>;
        };

        caps {
            bindings = <&caps_word>;
            key-positions = <6 7>;
            layers = <4 4>;
        };

        langen {
            bindings = <&lang_en>;
            key-positions = <1 2>;
            layers = <4 4>;
        };

        langru {
            bindings = <&lang_ru>;
            key-positions = <2 3>;
            layers = <4 4>;
        };

        array_arrow {
            bindings = <&array_arrow>;
            key-positions = <11 12>;
            layers = <6>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_qwerty {
            display-name = "qwerty";
            bindings = <
  &kp Q               &kp W           &kp E         &kp R             &kp T        &kp Y        &kp U             &kp I               &kp O               &kp P
  &ht LEFT_COMMAND A  &ht LEFT_ALT S  &ht RCTRL D   &ht LEFT_SHIFT F  &kp G        &kp H        &ht LEFT_SHIFT J  &ht LEFT_CONTROL K  &ht LS(LEFT_ALT) L  &ht LEFT_COMMAND SINGLE_QUOTE
  &kp Z               &kp X           &kp C         &kp V             &kp B        &kp N        &kp M             &kp COMMA           &kp DOT             &kp SLASH
                                      &lt 4 ESCAPE  &lt 4 SPACE       &lt 4 TAB    &lt 6 ENTER  &lt 5 BACKSPACE   &lt 7 DEL
            >;
        };

        base_colemak {
            display-name = "colemak";
            bindings = <
  &kp Q               &kp W           &kp F               &kp P             &kp B        &kp J        &kp L             &kp U               &kp Y           &kp SQT
  &ht LEFT_COMMAND A  &ht LEFT_ALT R  &ht LEFT_CONTROL S  &ht LEFT_SHIFT T  &kp G        &kp M        &ht LEFT_SHIFT N  &ht LEFT_CONTROL E  &ht LEFT_ALT I  &ht LEFT_COMMAND O
  &kp Z               &kp X           &kp C               &kp D             &kp V        &kp K        &kp H             &kp COMMA           &kp DOT         &ht SEMICOLON SLASH
                                      &lt 4 ESCAPE        &lt 4 SPACE       &lt 4 TAB    &lt 6 ENTER  &lt 5 BACKSPACE   &lt 7 DEL
            >;
        };

        med {
            bindings = <
  &trans    &trans    &trans     &trans     &trans    &trans      &trans          &kp C_BRI_DEC      &kp C_BRI_UP  &trans
  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &trans      &kp C_PREVIOUS  &kp C_VOLUME_DOWN  &kp C_VOL_UP  &kp C_NEXT
  &trans    &trans    &trans     &trans     &trans    &trans      &trans          &trans             &trans        &trans
                      &trans     &trans     &trans    &kp K_STOP  &kp C_PP        &kp K_MUTE
            >;
        };

        nav {
            bindings = <
  &trans        &lang_en      &lang_ru   &trans     &trans        &trans     &kp H     &kp J          &kp K      &kp L
  &kp LGUI      &kp LALT      &kp LCTRL  &kp LSHFT  &trans        &kp CAPS   &kp LEFT  &kp DOWN       &kp UP     &kp RIGHT
  &bt BT_SEL 0  &bt BT_SEL 1  &trans     &trans     &bt BT_CLR    &kp INS    &kp HOME  &kp PAGE_DOWN  &kp PG_UP  &kp END
                              &trans     &trans     &trans        &kp ENTER  &kp BSPC  &kp DEL
            >;
        };

        mse {
            bindings = <
  &trans    &lang_en  &lang_ru   &trans     &trans    &kp LG(KP_NUMLOCK)  &kp LOCKING_SCROLL  &trans            &kp LEFT_BRACKET  &kp RIGHT_BRACKET
  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &trans              &kp LEFT_SHIFT      &kp LEFT_CONTROL  &kp LS(LEFT_ALT)  &kp LGUI
  &trans    &trans    &trans     &trans     &trans    &trans              &trans              &trans            &trans            &kp SEMI
                      &trans     &trans     &trans    &mkp LCLK           &mkp RCLK           &mkp MB3
            >;
        };

        num {
            bindings = <
  &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT     &trans  &trans          &trans     &kp LEFT_CONTROL  &trans
  &kp COLON  &kp N4  &kp N5   &kp N6  &kp EQUAL    &trans  &kp LEFT_SHIFT  &kp RCTRL  &kp LEFT_ALT      &kp LGUI
  &kp GRAVE  &kp N1  &kp N2   &kp N3  &kp BSLH     &trans  &trans          &trans     &trans            &trans
                     &kp DOT  &kp N0  &kp MINUS    &trans  &trans          &trans
            >;
        };

        sym {
            bindings = <
  &kp LEFT_BRACE  &kp AMPS         &kp STAR              &kp LEFT_PARENTHESIS   &kp RIGHT_BRACE    &trans  &trans          &trans            &trans        &trans
  &kp SEMI        &kp DOLLAR       &kp PERCENT           &kp CARET              &kp PLUS           &trans  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LGUI
  &kp TILDE       &kp EXCLAMATION  &kp AT_SIGN           &kp HASH               &kp PIPE           &trans  &trans          &trans            &trans        &trans
                                   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDER          &trans  &trans          &trans
            >;
        };

        fun {
            bindings = <
  &kp F12  &kp F7  &kp F8             &kp F9     &kp LC(LS(PRINTSCREEN))    &trans  &trans          &trans            &trans        &trans
  &kp F11  &kp F4  &kp F5             &kp F6     &trans                     &trans  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LGUI
  &kp F10  &kp F1  &kp F2             &kp F3     &kp LS(PAUSE_BREAK)        &trans  &trans          &trans            &trans        &trans
                   &kp K_APPLICATION  &kp SPACE  &kp TAB                    &trans  &trans          &trans
            >;
        };
    };
};
